@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

*{
    background: #B79891;  /* fallback for old browsers */


}
body {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }
  h1{
    font-size: 30x;
    padding: 0px;
    margin: 0px;
  }
  p{
    font-size: 25px;
  }
  h4{
    font-size: 20px;
    text-align: left;
  }

.botones{
    text-align: center;
}


.button{
    display: inline-block;
    padding: 15px 50px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: black;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 15px #999;
    margin: 10px;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }